div.scroll{
  padding:100vh;
}
body{
	    background-repeat: no-repeat;
    background-attachment: fixed;
  text-align: justify;
  text-justify: inter-word;
  font-family: 'Ubuntu';
margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("assets/bg2.jpg");
}

div.pg1{
  margin-right: auto; margin-left: auto;
  text-align:center;
  width: 46vw;
}

.image_pg1_intro{
  position:relative;
  padding-top: 15vh;
  margin-right: auto; margin-left: auto;
  text-align:center;
  width: 100vw;
    width: 46.875vw;

}

p.intro{
  font-size: 1.65vw;
  padding:2vh;
  text-align: justify;
  text-justify: inter-word;
  color: white;
    background-color: black;
    opacity:0.7;    

}

ul.about {
  position:fixed;
  z-index: 9999;
  list-style-type: none;
  margin: 0;
  padding: 0;
  left:32vw;
  right:32vw;
  overflow: hidden;
  background-color: #333;
  opacity:0.9;
}

li.about {
  font-size: 1.25vw;
  font-family: 'Ubuntu';
  display: inline-block;
  float: center;
  padding: 2vh 0.85vw;
  background-colour:black;
  border-bottom: 5px solid transparent;    
  width: auto;
  transition: 0.5s ease;
  white-space: nowrap;
  text-align: center;
}

li a.about {
   outline:none 
  color: white;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}

li.about:hover{
  background-color: black;    
  border-bottom: 5px solid Tomato;
  width: auto;
}

img.about {
  resize: both;
  width: auto;
  height: 2vw;
}

div.hobbiesd{
  text-align: center;
  padding: 35vh 0vw;
}


ul.hob {
  list-style-type: none;
  margin: 0;
  padding: 0vh 0vw;
 
}

li.hob {
  font-size: 2vw;
  font-family: 'Ubuntu';
  display: inline-block;
   padding:0vh 2.5vw;
   margin:0vh 4vw;  
  text-align: center;
  
  

}

a.hob{
 outline:none
  color: white;
  text-align: center;
  text-decoration: none;
   -webkit-filter:grayscale(100%);

     

}

a.hob:hover{
  width: auto;
-webkit-filter:grayscale(0%);
transition:  -webkit-filter .3s ease;

}

img
.ho{
  width: 30vw;
  height: auto;
  display: inline-block;
}
.ho:hover{
  transition: all 0.3s ease-in-out 0s;
  transform: scale(1.15);
  


}
div.skills{
  text-align: center;
  padding: 35vh 0vw;
}
ul.skills {
  list-style-type: none;
  margin: 0;
  padding: 0vh 0vw;
  text-align: center;
 
}

li.skills {
  font-size: 2vw;
  font-family: 'Ubuntu';
  display: inline-block;
   padding:0vh 0vw;
   margin:0vh 3vw;
   vw;  
  text-align: center;
  
  

}

a.skills{
 outline:none
  color: white;
  text-align: center;
  text-decoration: none;

}

img
.skill{
  width: 30vw;
  height: auto;
  display: inline-block;
  

}
.skill:hover{
	transition: all 0.3s ease-in-out 0s;
	transform: scale(1.25);
}
h6.navigation {
    visibility: hidden;
      text-align: center;
      font-size: 0.001vh;

}
div.contact_me{
  text-align: center;
  padding: 35vh 0vw;
}
ul.contact_me {
  list-style-type: none;
  margin: 0;
  padding: 0vh 0vw;
  text-align: center;
 
}

li.contact_me {
  font-size: 2vw;
  font-family: 'Ubuntu';
  display: inline-block;
   padding:0vh 2.5vw;
   margin:0vh 3vw;
   vw;  
  text-align: center;
  
  

}

a.contact_me{
 outline:none
  color: white;
  text-align: center;
  text-decoration: none;

}

img
.contact{
  width: 30vw;
  height: auto;
  display: inline-block;
  

}
.contact:hover{
	transition: all 0.3s ease-in-out 0s;
	transform: scale(1.25);
}
.modalDialog {
  text-align: center;
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}



.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background-image: url("assets/form_bg.jpg");
  background-size: cover;
}

@media only screen and (max-width:720px) {
  div.pg1{
  text-align: center;
}
  ul.about {
  position:fixed;
  z-index: 9999;
  list-style-type: none;
  left:5vw;
  right:5vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity:0.9;
}
  li.about{
  font-size: 12px;
}
}


.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

textarea {
    resize: none;

}
input[type=submit]{
    font-family: 'Ubuntu';
}
